In [234]:
!pip install mysql-connector-python sqlalchemy pandas --quiet

In [235]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

# df = pd.read_parquet("yellow_tripdata_2024-11.parquet")
# df.to_csv("yellow_tripdata_2024-11.csv", index=False)

In [236]:
df = pd.read_parquet("yellow_tripdata_2024-01.parquet")

In [237]:
df.shape

(2964624, 19)

In [238]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [239]:
# Fix Index and Drop Columns
df = df.reset_index(drop=True)

In [240]:
df= df.drop(columns=['store_and_fwd_flag'])

In [241]:
df.head(1)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,186,79,2,17.7,1.0,0.5,0.0,0.0,1.0,22.7,2.5,0.0

In [242]:
df['pickup_date'] = df['tpep_pickup_datetime'].dt.floor('D')
df['dropoff_date'] = df['tpep_dropoff_datetime'].dt.floor('D')


df['pickup_time'] = df['tpep_pickup_datetime'].dt.strftime('%H:%M:%S')
df['dropoff_time'] = df['tpep_dropoff_datetime'].dt.strftime('%H:%M:%S')

In [243]:
df['year_month'] = df['tpep_pickup_datetime'].dt.to_period('M')

In [244]:
df.drop(columns=['tpep_pickup_datetime', 'tpep_dropoff_datetime'], inplace=True)

In [245]:
# df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime']).dt.strftime('%Y-%m-%d %I:%M:%S %p')
# df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime']).dt.strftime('%Y-%m-%d %I:%M:%S %p')

In [246]:
#Fix negative values
negative_fares = df[df["fare_amount"] < 0]
negative_fares.head(4)

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,pickup_date,dropoff_date,pickup_time,dropoff_time,year_month
99,2,1.0,2.16,1.0,249,232,4,-13.5,-1.0,-0.5,...,0.0,-1.0,-18.50,-2.5,0.00,2024-01-01,2024-01-01,00:18:24,00:30:39,2024-01
506,2,1.0,0.01,5.0,63,63,2,-31.5,0.0,0.0,...,0.0,-1.0,-34.25,0.0,-1.75,2024-01-01,2024-01-01,00:04:00,00:04:44,2024-01
536,2,1.0,0.47,1.0,249,113,4,-5.8,-1.0,-0.5,...,0.0,-1.0,-10.80,-2.5,0.00,2024-01-01,2024-01-01,00:41:42,00:46:00,2024-01
552,2,1.0,5.48,1.0,107,61,2,-33.1,-1.0,-0.5,...,0.0,-1.0,-38.10,-2.5,0.00,2024-01-01,2024-01-01,00:42:02,01:14:33,2024-01

In [247]:
negative_fares.shape

(37448, 21)

In [248]:
ratecode_analysis = df["RatecodeID"].value_counts()

In [249]:
ratecode_analysis

RatecodeID
1.0     2663350
2.0       98713
99.0      28663
5.0       19410
3.0        7954
4.0        6365
6.0           7
Name: count, dtype: int64

In [250]:
df = df[df["RatecodeID"] != 99.0]

In [251]:
df.shape

(2935961, 21)

In [252]:
#remove trips where fare amount is negative
df=df[df["fare_amount"] >= 0]

In [253]:
df.shape

(2898513, 21)

In [254]:
monetary_cols = ["extra", "mta_tax", "tip_amount", "tolls_amount", 
                 "improvement_surcharge", "total_amount", "congestion_surcharge", "Airport_fee"]

# Replace negative values with NaN 
df[monetary_cols]= df[monetary_cols].where(df[monetary_cols] >= 0, np.nan)

In [255]:
missing_proportion = df.isnull().mean() * 100
print("Missing value proportions:\n", missing_proportion.sort_values(ascending=False).round(3))

Missing value proportions:
 congestion_surcharge     4.767
Airport_fee              4.765
RatecodeID               4.764
passenger_count          4.764
total_amount             0.004
improvement_surcharge    0.004
mta_tax                  0.004
extra                    0.000
VendorID                 0.000
dropoff_time             0.000
pickup_time              0.000
dropoff_date             0.000
pickup_date              0.000
tip_amount               0.000
tolls_amount             0.000
fare_amount              0.000
payment_type             0.000
DOLocationID             0.000
PULocationID             0.000
trip_distance            0.000
year_month               0.000
dtype: float64

In [256]:
df.isnull().sum()

VendorID                      0
passenger_count          138096
trip_distance                 0
RatecodeID               138096
PULocationID                  0
DOLocationID                  0
payment_type                  0
fare_amount                   0
extra                        11
mta_tax                     106
tip_amount                    0
tolls_amount                  0
improvement_surcharge       120
total_amount                120
congestion_surcharge     138182
Airport_fee              138118
pickup_date                   0
dropoff_date                  0
pickup_time                   0
dropoff_time                  0
year_month                    0
dtype: int64

In [257]:
df.dtypes

VendorID                          int32
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
pickup_date              datetime64[us]
dropoff_date             datetime64[us]
pickup_time                      object
dropoff_time                     object
year_month                    period[M]
dtype: object

In [258]:
df_new= df.dropna()

In [259]:
df_new.isnull().sum()

VendorID                 0
passenger_count          0
trip_distance            0
RatecodeID               0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
Airport_fee              0
pickup_date              0
dropoff_date             0
pickup_time              0
dropoff_time             0
year_month               0
dtype: int64

In [260]:
df_new.shape

(2760287, 21)

In [261]:
df_new.dtypes

VendorID                          int32
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
pickup_date              datetime64[us]
dropoff_date             datetime64[us]
pickup_time                      object
dropoff_time                     object
year_month                    period[M]
dtype: object

In [262]:
df_new.shape

(2760287, 21)

In [264]:
# df_new.to_csv('ytaxi_data.csv',index = False)

In [321]:
pip install pymysql --quiet

Note: you may need to restart the kernel to use updated packages.

In [331]:
from sqlalchemy import create_engine

# Create MySQL connection (update credentials)
engine = create_engine("mysql+pymysql://tableau:Siva%40007@localhost:3306/taxi_trip")

# Write to MySQL with batch insert
df_new.to_sql(name='taxi_data', con=engine, if_exists='append', index=False, chunksize=10000, method='multi')

2760287

In [332]:
print("successfully")

successfully